$divider: #AEAEAE;
$optionSelectedMark: #F05781;
$white: white;
$unselectedOption: #BCBCBC;
$unselectedOptionHover: #DEDEDE;
$selectedOptionColor: white;
$borderGrey: rgb(190, 190, 190);
$backgroundGreyDropdown:#f7f7f7;
$shadowStartGradient: rgba(0, 0, 0, 0.2);
$shadowEndGradient: rgba(0, 0, 0, 0.1);