@import './font.scss';
@import './color.scss';

body, html {
    font-family: 'Rubik';
    font-size: 15px;
    letter-spacing: 0px;

    .error {
        color:red;
        font-size: 0.9rem;
    }
}