@import '../../styles//common.scss';

header {
    height: 68px;
    border-bottom: 1px solid rgb(198, 190, 207);
    box-shadow: rgba(37, 11, 54, 0.04) 0px 2px 0px;
    box-sizing: border-box;
    margin-right: 5px;
}

